# Import the python libraries

From Data Explortion to visualization to analysis- pandas is very important and useful in this process. It is an open source pakage that helps in performing analysis, data engineering, manipulation.....

Here we will be importing all neccessary libraries making it our library coven.

In [2]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
pd.set_option('max_columns', None)
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import plotly.express as px
import warnings
warnings.filterwarnings('ignore')

Let's Load the datasets and merge the datasets.
for this project we are provided with two dataset 
1. Countries data
2. synthetic_data

In [29]:
ClientProfile = pd.read_csv('synthetic_data.csv')
ClientCountry =pd.read_csv('countries(1).csv')

In [30]:
ClientProfile.head()

   Unnamed: 0  depo      segment    channel  clicks   latency  client_id
0           0   0.0  postid_4057        smm     1.0  2.649725  1442498.0
1           1   0.0     telegram  affiliate    10.0  2.610846  7865631.0
2           2   0.0  postid_8542   facebook    13.0  3.001162  8165584.0
3           3   0.0     telegram     direct     0.0  1.788369  5893056.0
4           4   0.0     telegram        smm     0.0  1.932069  3780924.0

In [32]:
ClientCountry.head()

  country  client_id
0      IN    6348826
1      FR    6751691
2      DE    8638448
3      LT    4722696
4      ES    2411132

In [34]:
df1 = pd.merge(ClientCountry, ClientProfile, on = "client_id")
df1

,country,client_id,Unnamed: 0,depo,segment,channel,clicks,latency
0,IN,6348826,135788,0.0,postid_2272,social media,22.0,3.571894
1,FR,6751691,30285,0.0,postid_275,smm,0.0,0.942220
2,FR,6751691,30285,0.0,postid_275,smm,0.0,0.942220
3,DE,8638448,99020,0.0,telegram,facebook,19.0,2.801449
4,LT,4722696,23716,307.0,telegram,social media,26.0,1.458857
...,...,...,...,...,...,...,...,...
219309,DE,2626295,64380,385.0,postid_9076,facebook,0.0,4.490812
219310,US,7817131,69527,0.0,telegram,smm,0.0,2.966362
219311,MO,1023767,112098,0.0,postid_7202,social media,3.0,3.704628
219312,MO,7518683,119055,0.0,postid_4200,smm,4.0,3.258969
219313,US,5408624,67671,0.0,postid_1085,smm,1.0,1.805891

# Creating simple functions as tools for our EDA

As my usual practice, I prefer writing short modules as tool for exploration analysis. It makes work faster and effective. It also prevents code repetation.

In this area we will be writing functions for data description, information on data, highlights (head), to display columns, shapes of data and as well as to display missing values.

In [36]:
def data_description(data):
    return (data.describe())

def data_info(data):
    return (data.info())

def data_head(data):
    return (data.head())

def data_column(data):
    return (data.columns)

def data_size(data):
    return (data.shape)

def missing_data(data):
    total = data.isnull().sum()
    percent = (total/data.isnull().count()*100)
    missing_columns = pd.concat([total, percent], axis = 1, keys = ["Total", "Percent"])
    types = []
    for col in data.columns:
        dtype = str(data[col].dtype)
        types.append(dtype)
    missing_columns["Types"] = types
    return(np.transpose(missing_columns))

In [38]:
data_size(df1)

(219314, 8)

In [39]:
data_column(df1)

Index(['country', 'client_id', 'Unnamed: 0', 'depo', 'segment', 'channel',
       'clicks', 'latency'],
      dtype='object')

In [44]:
data_head(df1)

,country,client_id,Unnamed: 0,depo,segment,channel,clicks,latency
0,IN,6348826,135788,0.0,postid_2272,social media,22.0,3.571894
1,FR,6751691,30285,0.0,postid_275,smm,0.0,0.942220
2,FR,6751691,30285,0.0,postid_275,smm,0.0,0.942220
3,DE,8638448,99020,0.0,telegram,facebook,19.0,2.801449
4,LT,4722696,23716,307.0,telegram,social media,26.0,1.458857

In [45]:
data_info(df1)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 219314 entries, 0 to 219313
Data columns (total 8 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   country     219314 non-null  object
 1   client_id   219314 non-null  int64
 2   Unnamed: 0  219314 non-null  int64
 3   depo        219314 non-null  float64
 4   segment     219314 non-null  object
 5   channel     217065 non-null  object
 6   clicks      219314 non-null  float64
 7   latency     219314 non-null  float64
dtypes: float64(3), int64(2), object(3)
memory usage: 15.1+ MB

In [46]:
data_description(df1)

,client_id,Unnamed: 0,depo,clicks,latency
count,2.193140e+05,219314.000000,219314.000000,219314.000000,219314.000000
mean,4.992632e+06,65291.068518,21.349207,11.428190,3.022827
std,2.310152e+06,45165.661814,368.334720,12.627812,1.047155
min,1.000126e+06,0.000000,-164.000000,0.000000,0.000071
25%,2.989190e+06,27414.000000,0.000000,0.000000,2.323893
50%,4.987345e+06,54828.000000,0.000000,8.000000,3.004932
75%,6.994740e+06,102730.750000,0.000000,19.000000,3.691859
max,8.999961e+06,157559.000000,29527.000000,50.000000,11.016521

In [49]:
data_head(df1)

,country,client_id,Unnamed: 0,depo,segment,channel,clicks,latency
0,IN,6348826,135788,0.0,postid_2272,social media,22.0,3.571894
1,FR,6751691,30285,0.0,postid_275,smm,0.0,0.942220
2,FR,6751691,30285,0.0,postid_275,smm,0.0,0.942220
3,DE,8638448,99020,0.0,telegram,facebook,19.0,2.801449
4,LT,4722696,23716,307.0,telegram,social media,26.0,1.458857

# Data Cleaning

From the output of the summary statistics, Outliers can be observed in the depo column. Obviously, negative payment can not be deposited so this indicates that we need to check for outliers.

The info output indicates a different row number total in channel column. This indicates the presence of missing values in channel column. The info out put also label the data type to show us what data-type we are dealing with.

In [47]:
missing_data(df1)

,country,client_id,Unnamed: 0,depo,segment,channel,clicks,latency
Total,0,0,0,0,0,2249,0,0
Percent,0.0,0.0,0.0,0.0,0.0,1.02547,0.0,0.0
Types,object,int64,int64,float64,object,object,float64,float64

There are about 2249 data input missing in channel column amounting to about 1% of the total data. Dropping this rows will not have a huge effect on our data. So we drop empty rows.

In [54]:
df2 = df1.dropna()
data_info(df2)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 217065 entries, 0 to 219313
Data columns (total 8 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   country     217065 non-null  object
 1   client_id   217065 non-null  int64
 2   Unnamed: 0  217065 non-null  int64
 3   depo        217065 non-null  float64
 4   segment     217065 non-null  object
 5   channel     217065 non-null  object
 6   clicks      217065 non-null  float64
 7   latency     217065 non-null  float64
dtypes: float64(3), int64(2), object(3)
memory usage: 14.9+ MB

In [55]:
data_head(df2)

,country,client_id,Unnamed: 0,depo,segment,channel,clicks,latency
0,IN,6348826,135788,0.0,postid_2272,social media,22.0,3.571894
1,FR,6751691,30285,0.0,postid_275,smm,0.0,0.942220
2,FR,6751691,30285,0.0,postid_275,smm,0.0,0.942220
3,DE,8638448,99020,0.0,telegram,facebook,19.0,2.801449
4,LT,4722696,23716,307.0,telegram,social media,26.0,1.458857

Since ID number of post in segement column does not matter we need to remove the id by performing some data engineering.

I decided to split the object_value in the segment column to interger and segment id. I will later drop the segment column and the interger column. Now we have a segment id that contains only classification objects.

In [56]:
import re
replace = re.compile("([a-zA-Z]+)")

df2['segment_id'] = df2['segment'].str.extract(replace)
df2['integer'] = df2['segment'].str.replace(replace, "")

<ipython-input-56-f088f1599993>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['segment_id'] = df2['segment'].str.extract(replace)
<ipython-input-56-f088f1599993>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['integer'] = df2['segment'].str.replace(replace, "")

In [58]:
data_head(df2)

,country,client_id,Unnamed: 0,depo,segment,channel,clicks,latency,segment_id,integer
0,IN,6348826,135788,0.0,postid_2272,social media,22.0,3.571894,postid,_2272
1,FR,6751691,30285,0.0,postid_275,smm,0.0,0.942220,postid,_275
2,FR,6751691,30285,0.0,postid_275,smm,0.0,0.942220,postid,_275
3,DE,8638448,99020,0.0,telegram,facebook,19.0,2.801449,telegram,
4,LT,4722696,23716,307.0,telegram,social media,26.0,1.458857,telegram,

In [59]:
df3 = df2.drop(['integer', 'segment'], axis=1)
df3

,country,client_id,Unnamed: 0,depo,channel,clicks,latency,segment_id
0,IN,6348826,135788,0.0,social media,22.0,3.571894,postid
1,FR,6751691,30285,0.0,smm,0.0,0.942220,postid
2,FR,6751691,30285,0.0,smm,0.0,0.942220,postid
3,DE,8638448,99020,0.0,facebook,19.0,2.801449,telegram
4,LT,4722696,23716,307.0,social media,26.0,1.458857,telegram
...,...,...,...,...,...,...,...,...
219309,DE,2626295,64380,385.0,facebook,0.0,4.490812,postid
219310,US,7817131,69527,0.0,smm,0.0,2.966362,telegram
219311,MO,1023767,112098,0.0,social media,3.0,3.704628,postid
219312,MO,7518683,119055,0.0,smm,4.0,3.258969,postid
219313,US,5408624,67671,0.0,smm,1.0,1.805891,postid

In [60]:
df3['segment_id'].value_counts()

postid      155757
telegram     61308
Name: segment_id, dtype: int64



The segment_id column contains only two unique values postid and telegaram. There are 155757 leads from article while 61308 leads are from telegram. It means the traffic to this app mainly comes from leads through Articles.

This indicates that more awareness of the app is made on articles compare to telegram. That makes sense because people read more on the internet than on telegram these days. The channel column have 5 unique channels facebook, smm, social media, direct and affiliation. There are 5 main web traffic in which these list can fall into.

    Paid web traffic: leads come from online adds on facebook, Google Ads etc. They found the app on ad ons.
    Direct web traffic: leads come directly to the web by typing the web URL in the browser. They might have heard about the app from someone and they decide to visit directly (direct).
    Referral web traffic: leads come through different links from other source. Affiliation falls in this category. Lead got to know through referrer.
    Social web traffic: similar to Paid web traffic but here involves highly involved active subscribers of a platform such as youtube, instagram etc. A third party contractor will be needed. Social media channel falls into this category.
    Organic traffic: leads come from search engines. The awarenesss maybe accidental. I Think smm falls in this class.

Both from wordcloud and histogram visualization, its been noticed that facebook have the highest channel to traffic by 76517 leads followed by smm and direct. Affiliation is having the lowest percentage of channel to traffic.


The segment_id column contains only two unique values postid and telegaram. There are 155757 leads from article while 61308 leads are from telegram. It means the traffic to this app mainly comes from leads through Articles.

This indicates that more awareness of the app is made on articles compare to telegram. That makes sense because people read more on the internet than on telegram these days. The channel column have 5 unique channels facebook, smm, social media, direct and affiliation. There are 5 main web traffic in which these list can fall into.

    Paid web traffic: leads come from online adds on facebook, Google Ads etc. They found the app on ad ons.
    Direct web traffic: leads come directly to the web by typing the web URL in the browser. They might have heard about the app from someone and they decide to visit directly (direct).
    Referral web traffic: leads come through different links from other source. Affiliation falls in this category. Lead got to know through referrer.
    Social web traffic: similar to Paid web traffic but here involves highly involved active subscribers of a platform such as youtube, instagram etc. A third party contractor will be needed. Social media channel falls into this category.
    Organic traffic: leads come from search engines. The awarenesss maybe accidental. I Think smm falls in this class.

Both from wordcloud and histogram visualization, its been noticed that facebook have the highest channel to traffic by 76517 leads followed by smm and direct. Affiliation is having the lowest percentage of channel to traffic.